<nav class="navbar navbar-expand-lg navbar bg-dark py-3 fs-3 mb-3 fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand fs-1" href="/">Yelp Camp</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-muted" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted" href="/campgrounds">Campgrounds</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted" href="/campgrounds/new">New campground</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
