<% layout("./layout/boilerplate") %>
<div class="alert alert-danger" role="alert">
	<h4 class="alert-heading"><%= description %></h4>
	<p><%= message %></p>
	<hr />
	<div>
		<% if (refer) { %>
		<a class="btn btn-primary text-center" href=" <%= refer %>  ">Go Back</a>
		<% } %>
		<a class="btn btn-success text-center" href="/campgrounds">Home page</a>
	</div>
</div>
