<% layout("./layout/boilerplate") %>
<div class="alert alert-danger" role="alert">
	<h4 class="alert-heading"><%= description %></h4>
	<p><%= message %></p>
	<hr />
	<p class="mb-0"><a class="btn btn-primary text-center" href="/campgrounds">Go Home</a></p>
</div>
