<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link type="text/css" rel="stylesheet" href="/css/styles.css" />
		<link rel="icon" href="/favicon.png" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>

		<title></title>
	</head>
	<body class="d-flex flex-column h-100">
		<%- include("../partials/navbar") %>
		<main class="container-lg" style="margin-top: 125px"><%- body %></main>
		<%- include("../partials/footer") %>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
		<script>
			const isFormValid = (rules) => {
				// const imgRegex = /[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)/;
				const numbersRegex = /^[1-9]+$/;
				const { title, location, img, description, price } = rules;
				if (title.length && location.length && img.length && description.length && numbersRegex.test(parseInt(price))) {
					return true;
				}
				return false;
			};
			const validateForms = function () {
				"use strict";
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				const forms = document.querySelectorAll(".needs-validation");

				// Loop over them and prevent submission
				Array.from(forms).forEach(function (form) {
					const campTitle = document.querySelector("input[name='campground[title]']");
					const campLocation = document.querySelector("input[name='campground[location]']");
					const campImg = document.querySelector("input[name='campground[image]']");
					const campDescription = document.querySelector("textarea[name='campground[description]']");
					const campPrice = document.querySelector("input[name='campground[price]']");

					form.addEventListener(
						"submit",
						function (event) {
							const rules = {
								title: campTitle.value,
								location: campLocation.value,
								img: campImg.value,
								description: campDescription.value,
								price: campPrice.value,
							};
							if (!isFormValid(rules)) {
								// if (!form.checkValidity()) {
								event.preventDefault();
								event.stopPropagation();
								// }
							}
							form.classList.add("was-validated");
						},
						false
					);
				});
			};
			validateForms();

			const validateReviewForm = function () {
				"use strict";
				const form = document.querySelector(".review-form-validation");
				form.addEventListener(
					"submit",
					function (event) {
						if (!form.checkValidity()) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add("was-validated");
					},
					false
				);
			};
			validateReviewForm();
		</script>
	</body>
</html>
